

body {
    font-family: cursive;
    margin: 50px;
    background-color: lightblue;
}

#top-input {
    font-size: 24px;
    padding: 5px;
    background-color: lightblue;
    border: none;
    border-bottom: 3px solid rgb(114, 193, 219);
    width: 99%;
}
#new-input {
    margin-top: 55px;
}

ul {
    padding: 0;
}

li {
    font-size: 20px;
    list-style: none;
    padding: 10px;
    margin: 10px 0;
    background-color: white;
}